.Card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: lightblue;
        width: max-content;
        padding: 14px;
        border: 2px solid black;
        border-radius: 20px;
        direction: rtl;
        margin-top: 10px;
}